/* ! About US */

.background {
    background-color: black;
    width: 100%;
    height: auto;
}

.img-bac {
    background: url(../images/illus.svg) no-repeat;
    background-size: contain;
    background-position-x: right;
    height: auto;
    width: auto;
}

.info {
    /* padding-top: 4em; */
    width: 95%;
    margin: 1rem auto;
}

.about {
    background-color: #000000;
    background-image: url(../images/illus.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.question {
    margin: 0.5rem 0;
}


/* ! Media Queries */

@media (max-width: 1050px) {
    .img-bac {
        background: url(illus.svg);
        background-size: contain;
        background-position-x: right;
        height: auto;
        width: auto;
    }
    .heading {
        font-size: 1.8em;
    }
}

@media (max-width: 500px) {
    .img-bac {
        background: none;
        background-size: contain;
        background-position-x: right;
        height: auto;
        width: auto;
    }
    .heading {
        font-size: 1.5em;
    }
}

p,
ul {
    background-color: #000000;
    color: #c4c4c4;
    font-size: large;
    padding: 0.5em;
    list-style: none;
}

.highlight {
    /* color: #2c3454; */
    color: #00FFDC;
    /* font-weight: bolder; */
    font-size: larger;
}

.highlight-but-in-red {
    /* color: #FF001A; */
    color: #c4c4c4;
    font-weight: bolder;
    font-size: larger;
}

ul li::before {
    content: "\2022";
    /* color: #2c3454; */
    color: #00E4D5;
    /* font-weight: bold; */
    display: inline-block;
    width: 1em;
    /* margin-left: 1em; */
}

a {
    /* color: #2c3454; */
    color: #00E4D5;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    text-decoration: none;
}